<div class="block">
  <article class="message is-warning">
    <div class="message-header">
      <p class="title is-4">{{blogpost.title}}</p>
    </div>
    <div class="message-body">
      <p class="content is-medium">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            {{#if dbError}}
            <p>Cant display page right now, try again later</p>
            {{else}}
            {{#if blogpost}}
            <img src="../{{blogpost.image}}" alt="something when trying to display the image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="http://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" alt="Cant display image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{blogpost.title}}</p>
              <p class="subtitle is-6">Lucas Strand</p>
            </div>
          </div>

          <div class="content">
            {{blogpost.article}}
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            {{#if isLoggedIn}}
            <a href="/updateblogpost/{{blogpost.id}}">Update</a>

            <form action="/deleteblogpost/{{blogpost.id}}" method="POST">
              <input type="submit" value="Delete">
              <input type="hidden" name="_csrf" value="{{token}}">
            </form>
            {{/if}}
            {{else}}
            <p> No blogpost with that ID exists</p>
            {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      </p>
    </div>
  </article>
</div>



<div class="block">
  <article class="message is-dark">
    <div class="message-header">
      <p>Comments</p>
    </div>
    <div class="message-body">
      <p class="content is-medium">
      <div class="columns is-centered">
        <div class="column is-8">
          <form action="/blogpost/{{blogpost.id}}" method="POST">
            <textarea type="submit" class="textarea is-dark" placeholder="Add a comment" name="comment"></textarea>
            <input class="button is-danger" type="submit" value="Post comment">
            <input type="hidden" name="_csrf" value="{{token}}">
          </form>
        </div>
      </div>
      {{#if postComments.length}}
      {{#each postComments}}
      <section class="hero is-dark mb-4">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
            </h1>
            <h2 class="subtitle">
              {{comment}}
            </h2>
            {{#if../ isLoggedIn}}
            <form action="/delete-comment/{{this.id}}" method="POST">
              <input class="button is-danger" type="submit" value="Delete comment">
            </form>
            <form action="/editcomment/{{this.id}}" method="GET">
              <input class="button is-dark" type="submit" value="Edit comment">
            </form>
            {{/if}}
          </div>
        </div>
      </section>
      {{/each}}
      {{else}}
      <p>No comments yet! :( Be the first one to comment!</p>
      {{/if}}
      </p>
    </div>
  </article>
</div>