<h1>Blogpost</h1>
{{#if blogpost}}
	<p>Title: {{blogpost.title}}</p>
	<p>Article: {{blogpost.article}}</p>
	
	<a href="/updateblogpost/{{blogpost.id}}">Update</a>
	
	<form action="/deleteblogpost/{{blogpost.id}}" method="POST">
		<input type="submit" value="Delete">
	</form>
	
{{else}}
	<p>No blogpost with that ID exists.</p>
{{/if}}