<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <div class="block">
                <h1 class="title">FAQ</h1>
                {{#if dbError}}
                <p>Oops! Something went wrong :(</p>
                {{else}}
                {{#if faq}}
                <h2 class="subtitle">Q: {{faq.question}}</h2>
                {{#if faq.answer}}
                <h2 class="subtitle">A: {{faq.answer}}</h2>
                {{else}}
                <h2 class="subtitle">A: Currently, this question is yet to be answered.</h2>
                {{/if}}
                <p class="content is-small">Date: {{faq.date}}</p>
                {{#if isLoggedIn}}
                <div class="columns">
                    <div class="column">
                        <form action="/deletefaq/{{faq.id}}" method="POST">
                            <a class="button is-dark" href="/updatefaq/{{faq.id}}">answer/update question</a>
                            <input class="button is-danger " type="submit" value="Delete">
                            <input type="hidden" name="_csrf" value="{{token}}">
                        </form>
                    </div>
                </div>

                {{/if}}

                {{else}}
                <p> That question dont exsists</p>
                {{/if}}
                {{/if}}

            </div>
        </div>
</section>


</div>